<div id="dashboard">

  <div class="containerc">

    <h1>Hello, <strong> <%= current_user.first_name %> <%= current_user.last_name %> </strong></h1>

    <div class="p-3">
      <h3>Your dream homes online                    <i class="fa-solid fa-house"></i> </h3>
      <div class="card p-2 btn btn-light" style="width: 18rem;">
            <% @places.each do |place| %>
          <i class="">
            <%= link_to "#{place.name}", place_path(place), class:"link-offset-2 link-underline link-underline-opacity-0 fs-5 fw-lighter text-black fst-normal" %>
          </i>
        <% end %>
      </div>
    </div>

    <div class="p-3">
    <h2>Your bookings for your dream houses            <i class="fa-solid fa-book"></i> </h2>
        <div class="card pb-4 pe-2 ps-2 ">
        <table class="table table-striped">
        <thead>
            <tr>
              <th>Guest </th>
              <th>Dream House </th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Number of visitors</th>
              <th>You have</th>
              <th>Welcome your guests</th>
              <th>Your dream house is not available</th>
            </tr>
        </thead>
        <tbody>
        <% @places.each do |place| %>
        <% place.bookings.each do |booking| %>
              <tr>
                <td><%= booking.user.first_name%></td>
                <td><%= booking.place.name%></td>
                <td><%= booking.date_start.strftime('%d %b %Y') %></td>
                <td><%= booking.date_end.strftime('%d %b %Y') %></td>
                <td><%= booking.nb_of_guests %></td>
                <td><strong><i><%= booking.status%></i></strong> the booking</td>
                <td>
                <%= link_to "Accept", accept_path(booking), class:"btn btn-success", data: { turbo_method: "PATCH", turbo_confirm: "You accepted the booking successfully!" }%>
                </td>
                <td>
                <%= link_to "Refuse", refuse_path(booking), class:"btn btn-danger", data: { turbo_method: "PATCH", turbo_confirm: "You refused the booking successfully!" } %>
                </td>
              </tr>
          <% end %>
    <% end %>
    </tbody>
    </table>
        </div>
  </div>
  <div class="p-3">
    <h2>Your upcoming travels                     <i class="fa-solid fa-plane-departure"></i></h2>
  <div class="card pb-4 pe-2 ps-2 ">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Dream House </th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Number of visitors</th>
              <th>This booking is</th>
              <th>Changes needed to booking</th>
              <th>In case</th>
            </tr>
        </thead>
        <tbody>
          <% @booking_travels.each do |booking| %>
              <tr>
                <td><%= booking.place.name%></td>
                <td><%= booking.date_start.strftime('%d %b %Y') %></td>
                <td><%= booking.date_end.strftime('%d %b %Y') %></td>
                <td><%= booking.nb_of_guests %></td>
                <td><%= booking.status%></td>
                <td>
                  <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-outline-dark" %>
                </td>
                <td>
                  <%= link_to "Cancel your reservation", booking_path(booking),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "btn btn-outline-warning" %>
                </td>
              </tr>
          <% end %>
        </tbody>
        </table>
    </div>
  </div>
  </div>
</div>
