<div class="container mt-5">
  <!-- Titre principal -->
  <h1 class="display-4 mb-3"><%= @car.name %></h1>

  <!-- Section principale -->
  <div class="row">
    <!-- Carrousel d'images -->
    <div class="col-md-8">
      <%=  %>
    </div>

    <!-- Informations sur la place -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Details</h4>
          <p><strong>Price per day:</strong> €<%= @car.price %></p>
          <p><strong>Description:</strong> <%= @car.description %></p>

          <!-- Bouton pour afficher le formulaire -->
          <button class="btn btn-outline-primary w-100 mt-3" data-bs-toggle="collapse" data-bs-target="#booking-form">
            Rent this car now!
          </button>

          <!-- Dropdown du formulaire -->
          <div id="booking-form" class="collapse mt-3">
            <%= simple_form_for [@car, @booking] do |f| %>
              <%= f.input :date_start,
                as: :string,
                input_html: { data: { controller: "datepicker" } },
                label: "Date start *" %>
              <%= f.input :date_end,
                as: :string,
                input_html: { data: { controller: "datepicker" } },
                label: "Date end *" %>
              <%= f.input :nb_of_guests, label: "Nb of passenger with a driving license *" %>
              <%= f.submit "Submit", class: "btn btn-primary w-100 mt-3" %>
            <% end %>
          </div>

  <!-- Section des réservations -->
  

  <!-- Lien pour revenir à la liste des places -->
  <%= link_to "All available dream places", places_path, class: "btn btn-primary my-4" %>
</div>
